
<figure class="text-start">
    <p class="h1">Favorite quote</p>
    <blockquote class="blockquote">
        <p>“In theory, theory and practice are the same. In practice, they are not.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Albert Einstein <cite title="Source Title"></cite>
    </figcaption>
</figure>
<p class="h1">About Me</p>