
<figure class="text-start">
    <p class="h1">Favorite quote</p>
    <blockquote class="blockquote">
        <p>“In theory, theory and practice are the same. In practice, they are not.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Albert Einstein <cite title="Source Title"></cite>
    </figcaption>
</figure>
<p class="h1">About Me</p>

<div class="card" style="width: 18rem;">
  <img src="./img/holdinUpBike.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pikes peak</h5>
    <p class="card-text">This is me after climbing up pike's peak</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./img/strava.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pikes peak</h5>
    <p class="card-text">Some stats from the ride</p>
  </div>
</div>