
<figure class="text-end">
    <blockquote class="blockquote">
        <p>“In theory, theory and practice are the same. In practice, they are not.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Albert Einstein <cite title="Source Title"></cite>
    </figcaption>
</figure>
<figure class="text-start">
    <blockquote class="blockquote">
        <p>“I torture myself on a daily basis so that when life tortures me it feels like nothing.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Johnny Bluhm <cite title="Source Title"></cite>
    </figcaption>
</figure>
<h1>About me</h1>

<div class="row">
    <div class="col">
        <p style="font-size:25px">
            Enthusiastic, driven, adaptable software engineer. Always looking to learn something new. At this time I've worked for 2 companies: Dish Network and Sphere Commerce.
            At Dish I did a great deal of web development and improved my computer fundamentals. At dish we had to manage all our own hardware so I spent an immense amount of time 
            jumping from linux box to linux box and doing various configurations by hand. This was really great in helping me understand how servers run software. I definitely would 
            not consider myself a front end developer, but I enjoy some aspects of it. I find coding the behavior of the page to be very enjoyable. I don’t like setting up the HTML and 
            CSS though. I like being close to the customer, and I like how it is really easy to see the impact of your work.
At sphere it has been incredibly different. I pretty much only do back end work now, and we only have one massive project instead of like 10 mid sized ones. What I am enjoying about it now 
is how hard it can be to deal with the code. Everything is multithreaded and the design is kinda bad so everything is a pain, but that's what's fun. I keep learning something new about the system 
each day and I finally feel like I’m in the big leagues since everything is so complicated.

        </p>
    </div>
    <div class="col">
        <img src="img/bike/holdinUpBike.jpg" class="card-img-top" alt="...">
        

    </div>
    <div class="col">
        <img src="img/skyDive/coolPointing.jpg" class="card-img-top" alt="...">
        <img src="img/skyDive/pointingInAir.jpg" class="card-img-top" alt="...">
    </div>
</div>

<!--
<div class="card" style="width: 18rem;">
  <img src="./img/strava.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pikes peak</h5>
    <p class="card-text">Some stats from the ride</p>
  </div>
</div>

-->
