
<figure class="text-end">
    <blockquote class="blockquote">
        <p>“In theory, theory and practice are the same. In practice, they are not.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Albert Einstein <cite title="Source Title"></cite>
    </figcaption>
</figure>
<p class="h1">About Me</p>
<p class="h2">Early life</p>

<div class="card bg-transparent" style="width: 18rem;">
    <img src="./img/child/monkeys.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Africa</h5>
        <p class="card-text" style="color:white">This is my brother at a hotel in Africa</p>
    </div>
</div>

<p class="h2" style="color:white">For fun</p>
<div class="card bg-transparent" style="width: 18rem;">
    <img src="./img/bike/holdinUpBike.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Pikes peak</h5>
        <p class="card-text" style="color:white">This is me after climbing up pike's peak</p>
        <a href="#" class="btn btn-primary">See ride stats</a>
    </div>
</div>

<!--
<div class="card" style="width: 18rem;">
  <img src="./img/strava.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pikes peak</h5>
    <p class="card-text">Some stats from the ride</p>
  </div>
</div>

-->
