
<figure class="text-end">
    <blockquote class="blockquote">
        <p>“In theory, theory and practice are the same. In practice, they are not.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Albert Einstein <cite title="Source Title"></cite>
    </figcaption>
</figure>
<p class="h1">About Me</p>

<div class="row">
    <div class="col">
        <p style="font-size:30px">
            Enthusatic, drive, adaptable software engineer. Always enjoy learning something new. At this time I've worked for 2 complanies Dish and Sphere.
            At Dish I did alot of web deveklopment and improved my computer fundamentals. I spent alot of time jumping from linux box to linux box and doing alot of things by hand.
            At dish we had to manage all our own hardware so it was great doing that. I definelty would not consider myself a front end developer, but I enjoy some aspects of it.
            I like being close to the customer, and front end work is really easy to see which is nice. At sphere it been alot different. I pretty much only am doing back end work now.
            What I am enjoying about it now is how hard it can be to deal with the code. Everything is multithreaded and the desigfn is kinda bad so everything is a pain, but that's what's fun.
        </p>
    </div>
    <div class="col">
        <img src="img/bike/holdinUpBike.jpg" class="card-img-top" alt="...">
        

    </div>
    <div class="col">
        <img src="img/skyDive/coolPointing.jpg" class="card-img-top" alt="...">
        <img src="img/skyDive/pointingInAir.jpg" class="card-img-top" alt="...">
    </div>
</div>

<!--
<div class="card" style="width: 18rem;">
  <img src="./img/strava.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pikes peak</h5>
    <p class="card-text">Some stats from the ride</p>
  </div>
</div>

-->
