 <style type="text/css">
        .lst-kix_cw47j7jsbb4g-5 > li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_cw47j7jsbb4g-5 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-6 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-7 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-8 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-1 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-2 {
            list-style-type: none
        }

        ul.lst-kix_cw47j7jsbb4g-3 {
            list-style-type: none
        }

        .lst-kix_cw47j7jsbb4g-4 > li:before {
            content: "\0025cb  "
        }

        .lst-kix_cw47j7jsbb4g-8 > li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_cw47j7jsbb4g-4 {
            list-style-type: none
        }

        .lst-kix_cw47j7jsbb4g-7 > li:before {
            content: "\0025cb  "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        .lst-kix_cw47j7jsbb4g-6 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_cw47j7jsbb4g-0 > li:before {
            content: "  "
        }

        .lst-kix_cw47j7jsbb4g-1 > li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_cw47j7jsbb4g-0 {
            list-style-type: none
        }

        .lst-kix_cw47j7jsbb4g-3 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_cw47j7jsbb4g-2 > li:before {
            content: "\0025a0  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c1 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 19pt;
            line-height: 1.3;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            padding-top: 0pt;
            text-indent: 36pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 12pt
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 12pt
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            text-align: center
        }

        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            text-align: left
        }

        .c12 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c11 {
            padding: 0;
            margin: 0
        }

        .c13 {
            margin-left: 36pt;
            text-indent: -36pt
        }

        .c5 {
            font-size: 12pt
        }

        .c9 {
            text-indent: 36pt
        }

        .c6 {
            height: 12pt
        }

        .c14 {
            font-style: italic
        }

        .title {
            padding-top: 30pt;
            color: #000000;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 2.0;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 2.0;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }</style>
    <div><p class="c0"><span class="c3"></span></p><p class="c9 c10"><span>Bluhm </span></p></div>
    <p class="c7"><span>Jonathan Bluhm</span></p>
    <p class="c7"><span>Rex Welshon</span></p>
    <p class="c7"><span>PHIL 3300</span></p>
    <p class="c7"><span>28</span><span class="c5">&nbsp;</span><span>August</span><span class="c5">&nbsp;20</span><span class="c3">18</span></p>
    <p class="c7 c9"><span class="c3">Many different theories of the mind exist. Descartes developed a theory called substance dualism which states that there are two fundamental kinds of substances in the world: mental substances and material substances. To prove this view, it has to be shown that the body and mind are not made up of the same substance. One argument for this claim involved six premises. The first premise stated &ldquo;Suppose I am identical with this body of mine.&rdquo; (Kim 40) The point of this premise is to get the reader to assume that their body is part of what makes them who they are. The second premise states &ldquo;In 2001 this body did not exist.&rdquo; (Kim 40) This premise seems false at first glance, but is actually true. In 2001 I was six years old. I have grown about 3 feet since then, so the body I have now is drastically different from my body back then. Hence we can conclude that my current body did not exist in 2001. The third premise states &ldquo;Hence, from the first premise, it follows that I did not exist in 2001.&rdquo;(Kim 40) Since one&rsquo;s body is what makes them who they are, if the body one has now is different than previously, then they never existed in the past. Another way of looking at is that the person in 2001 was not you. The fourth premise states &ldquo;But I existed in 2001.&rdquo; (Kim 40) Every human can remember being in the past, so they did exist in the past. The fifth premise follows &ldquo;Hence, a contradiction, and the supposition must be false&rdquo; (Kim 40) Since we did exist in 2001, but our bodies did not, our assumption that our bodies are what makes us who we are is clearly false. The final premise &ldquo;Hence, I am not identical with my body&rdquo; (Kim 40) implies that our bodies and minds must be different substances because our bodies are not who we are.</span></p>
    <p class="c7 c9"><span class="c3">The argument is perfectly valid. It is impossible to have all true premises and a false conclusion. It is also sound. The argument is a bit confusing and hard to follow, but when read slowly it does make sense. The premise &ldquo;In 2001, this body did not exist&rdquo; (Kim 40) is what holds this argument back. This premise is a bit of a stretch and unnatural to think about. When I discussed this argument with some peers, my peers immediately rejected this premise. They argued that their body certainly did exist in the past and I had to explain to them that their current body is different than the one they had in the past. However, this same premise can be slightly changed and we will see that this argument can be used to show that we are not mental substances. If we change the word body with mind, the argument still works perfectly fine, except that we would have to conclude that we are not identical with our minds. Suppose I am identical with this mind of mine. In 2001 this mind did not exist. Hence, from the first premise, it follows that I did not exist in 2001. But I existed in 2001. Hence, a contradiction, and the supposition is false. Hence, I am not identical with my mind. This argument works just as well as the previous except that it argues against the dualism view. It works because we all change as humans as we grow. Our likes and dislikes and personality changes with time, hence the mind we had in 2001 is different than the one we have currently. So if a dualist would use the first argument as proof for the dualist view, someone can just change a couple words and argue against their view using the same argument. </span></p>
    <p class="c7 c9"><span class="c3">To prevent the argument from being used against itself, premises need to be added showing how minds and bodies change differently throughout time. &ldquo;The premise My body changes as I age&rdquo; would establish that the body changes throughout time. By adding &ldquo;My mind is me as long as I still think&rdquo; it would show how our minds stay the same even if our likes, dislikes and personality change. This allows the argument to not be used against itself. However, it is not a much stronger argument. The premise &ldquo;My mind is me as long as I still think&rdquo; can be easily proven false. One example could explore drug use. If one takes a drug that makes them super angry and irritable for a month when they are usually a happy and content person, are they still them? According to the premise they are, but they really aren&rsquo;t. All in all the argument seems rather convincing at first glance, but unfortunately fails at doing its job because time travel has not been invented yet so we do not know what will happen when we go back in time.</span></p>
    <p class="c0"><span class="c3"></span></p>
    <p class="c0"><span class="c3"></span></p>
    <p class="c0"><span class="c3"></span></p>
    <p class="c2"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c4 c6"><span class="c3"></span></p>
    <p class="c6 c8"><span class="c3"></span></p>
    <p class="c4"><span class="c3">Works Cited</span></p>
    <ul class="c11 lst-kix_cw47j7jsbb4g-0 start"><li class="c1 li-bullet-0"><span>Kim, Jaegwon. </span><span class="c14">Philosophy of Mind</span><span class="c3">. Boulder, CO: Westview Press, 2011. Print.</span></li></ul>
    <p class="c2 c13"><span class="c3"></span></p>