<div class="row">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/battleship.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Battleship</h5>
                <p class="card-text">Built a fun battleship game using test-driven development. Emphasis for the project was on design patterns and refactoring.</p>
                <p>Technolgies: Java</p>
                <a href="https://github.com/johnnybluhm/battleship" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/cuSearch.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CU Class Data Scraper</h5>
                <p class="card-text">Gathered CU class data by scraping their website. Class data can then be inserted into a database by running the generated SQL scripts.</p>
                <p>Technolgies: Python, SQL</p>
                <a href="https://github.com/johnnybluhm/cu-boulder-classes-scraper" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/plowboy.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ReciMe</h5>
                <p class="card-text">Developed a website that serves delicious recipes to users. Users can search for various foods on the site as well.</p>
                <p>Technolgies: Javascript, Chrome</p>
                <a href="https://github.com/Avnish94/ReciMe" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/plowboy.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p>Technolgies: Python, Webots</p>
                <a href="https://github.com/johnnybluhm/robotics-plowboy" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>

</div>