<div style="padding-top:10%"></div>
<div class="row">
    <div class="col">
        <div class="container-fluid">        
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/battleship.JPG" class="card-img-top" alt="..." style="max-height:10rem">
            <div class="card-body">
                <h5 class="card-title">Battleship</h5>
                <p class="card-text">Built a fun battleship game using test-driven development. Emphasis for the project was on design patterns and refactoring.</p>
                <p>Technologies: Java, IntelliJ</p>
                <a href="https://github.com/johnnybluhm/battleship" target="_blank" class="btn btn-primary">See the code</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/cuSearch.JPG" class="card-img-top" alt="..." style="max-height:10rem">
            <div class="card-body">
                <h5 class="card-title">CU Class Data Scraper</h5>
                <p class="card-text">Gathered CU class data by scraping their website. Class data can then be inserted into a database by running the generated SQL scripts.</p>
                <p>Technologies: Python, SQL, Selenium</p>
                <a href="https://github.com/johnnybluhm/cu-boulder-classes-scraper" target="_blank" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/recime.JPG" class="card-img-top" alt="..." style="max-height:10rem">
            <div class="card-body">
                <h5 class="card-title">ReciMe</h5>
                <p class="card-text">Developed a website that serves delicious recipes to users. Users can search for various foods on the site as well.</p>
                <p>Technologies: Javascript, CSS, HTML</p>
                <a href="https://github.com/Avnish94/ReciMe" target="_blank" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/plowboy.JPG" class="card-img-top" alt="..." style="max-height:10rem">
            <div class="card-body">
                <h5 class="card-title">Plowboy</h5>
                <p class="card-text">Created an algorithm that would allow a robot to plow a parking lot based on color detection. Implemented a test for it using
                    webots.
                </p>
                <p>Technologies: Python, Webots</p>
                <a href="https://github.com/johnnybluhm/robotics-plowboy" target="_blank" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/img/projects/plowboy.JPG" class="card-img-top" alt="..." style="max-height:10rem">
            <div class="card-body">
                <h5 class="card-title">Plowboy</h5>
                <p class="card-text">Created an algorithm that would allow a robot to plow a parking lot based on color detection. Implemented a test for it using
                    webots.
                </p>
                <p>Technolgies: Python, Webots</p>
                <a href="https://github.com/johnnybluhm/robotics-plowboy" target="_blank" class="btn btn-primary">See the code</a>
            </div>
        </div>
    </div>

</div>