<div class="row">
    <div class="col">
        <h1>HeartRate Charts</h1>
        <canvas id="hrChart"></canvas>
        <button id="switchHr">Toggle units</button>
        <button id="convertHr">Toggle chart type</button>
        </div>
    <div class="col">
        <h1>Power Charts</h1>
        <canvas id="powerChart"></canvas>
        <button id="switchPower">Toggle units</button>
        <button id="convertPower">Toggle chart type</button>
    </div>
</div>

<script src="/dist/bundle.js" async></script>
