<div class="row">
    <div class="col">
        <h1>HeartRate Charts</h1>
        <canvas id="hrChart"></canvas>
        <button id="switchHr">Switch to minutes</button>
        </div>
    <div class="col">
        <h1>Power Charts</h1>
        <canvas id="powerChart"></canvas>
        <button id="switchPower">Switch to minutes</button>
    </div>
</div>

<script src="/dist/bundle.js" async></script>
