<div>
    <canvas id="myChart"></canvas>
</div>
<script>var exports = {};</script>
<script src="/dist/bundle.js" async></script>

<script>
      /*const ctx = document.getElementById('myChart');
      console.log("In Chart js");
      console.log(Object.values(globalModel));
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: Object.values(globalModel),
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });*/




      /*async function GetModel() {
        var url = "https://localhost:7038/api/stravaMongo/GetAllPowerStreams";

        var result = await fetch(url);
        var data = await result.json();
        console.log(data);
    }


    var data = await GetModel();*/
</script>
