
<style>
    .chart-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 600px;
        width: 400px;
    }
</style>
<div class="row">
    <div class="col">
        <h1>HeartRate Charts</h1>
        <div class="chart-wrapper">
            <canvas id="hrChart"></canvas>
            <p id="total"></p>
        </div>
        <label for="fromDate">From:</label>
        <input type="datetime-local" id="fromDate" name="fromDate">
        <label for="toDate">To:</label>
        <input type="datetime-local" id="toDate" name="toDate">
        <button id="applyDates">Apply dates</button>
    </div>
    <div class="col">
        <h1>Power Charts</h1>
        <div class="chart-wrapper">
            <canvas id="powerChart"></canvas>
        </div>
        <button id="convertPower">Toggle chart type</button>
    </div>
</div>

<script src="/dist/bundle.js" async></script>
