<div class="row">
    <div class="col"></div>
    <div class="col">
        <canvas id="myChart"></canvas>
        <button id="switch">Switch to minutes</button>
    </div>
</div>

<script src="/dist/bundle.js" async></script>
