<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JohnnyBluhmWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JohnnyBluhmWeb.styles.css" asp-append-version="true" />
</head>
<style>
body {
  background-image: url("/img/background/flatirons_HDR-2-forBlog-2.jpg");
  padding-top: 65px;
  background-attachment: fixed;
}
</style>
<body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home">Johnny Bluhm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/Home/Prece1">Prece #1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/FinalPaper">Final Paper Philosphy</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn-danger" type="submit">Contact Me</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
